 <script type="text/javascript"> 
        $(function()
        {
 
$("ul input[type=checkbox]").bind("change", function(e) { 
 
    var $parent   = $(e.target).parent().parent().parent();
    var $children = $(e.target).parent().children("ul").find("input");
    var isOn      = false; 
  
    $children.attr("checked", $(e.target).is(":checked"));
 
    $.each($parent.children("ul").find("input"), function() { 
        if( !isOn && $(this).is(":checked") ) {
            isOn = true;
        }
    }); 
 
    $parent.children("input").attr("checked", isOn);
});
 
        });
    </script>


<h1>Edit criteria for <%= @location.name %></h1>
<div class="grid_10 left_align">
	<div class="caution">
		<h2>save criteria with caution</h2>
		<p>Criteria that are set can only be removed by an administrator. Please do not set a criteria that does not apply.</p>
		<%= link_to 'Cancel' , @location, :class => "medium red awesome" %>
	</div>
</div>

<% form_tag :action => 'assign_location' do%>
	<%= hidden_field_tag( "id", @location.id )%>
	<% @parents.each do |p| %>
	<div class="grid_2 <%=cycle("left_align first_box", "none", "none", "none", "right_align ")%>">
		<ul class="criteria_check_list">
			<% main_checked = @location.criterias.include?(p) %>
			<li class="criteria_list_box">
				<% if authorized? || !main_checked %>
					<%= check_box_tag "location[criteria_ids][]", p.id, main_checked%>
				<% else %>
					<%= hidden_field_tag "location[criteria_ids][]", p.id %>
					<%= image_tag "/images/icons/lock.png"%>
				<% end %>
				<%= p.name %>
				<ul class="criteria_checkbox light">
					<% p.children.each do |c| %>
					<% checked = @location.criterias.include?(c)%>
					<li class="criteria_option ">
						<% if authorized? || !checked %>
							<%=check_box_tag "location[criteria_ids][]", c.id, checked %>
						<% else %>
							<%= hidden_field_tag "location[criteria_ids][]", c.id %>
							<%= image_tag "/images/icons/lock.png"%>
						<% end %>
						<%= c.name %></li>
					<% end %>
				</ul>
			</li>
		</ul>
	</div>
	<% end %>
	<div class="clear"></div>
	<%= submit_tag 'save criteria', :class=>"large green awesome"%>
<% end %>