<h1>Criteria</h1>

<% @parents.each do |p| %>
<div class="grid_2 <%=cycle("left_align first_box", "none", "none", "none", "right_align")%>">
	<div class="criteria_display">
		<b><%= p.name %></b>
		<div class="criteria_list">
			<ul>
				<% p.children.each do |c| %>
				<li><%= link_to c.name, :action => 'edit', :id => c.id %></li>
				<% end %>
			</ul>
			<% form_remote_tag :url => {:action => 'create'} do %> 
				<%= hidden_field :criteria, :parent_id, :value => p.id %>
				<%= text_field 'criteria', 'name', :size => 10 %>&nbsp;<%= submit_tag '+' %>
			<% end %>
		</div>
	</div>
</div>
<% end %>

<div class="clear"></div>
<br/>
<div class="grid_5 grey">
	<h3>create a new top level criteria</h3>
	<p>this should be strictly performed by the site administrator as this should rarely happen</p>
	<% form_tag :controller => 'criterias', :action => 'create' do |f| %>
	  <p>
	    name:<br />
	    <%= text_field_tag "criteria[name]" %>
	  </p>
	  <p>
	    <%= submit_tag 'Create' %>
	  </p>
	<% end %>
</div>
