<div class="side_bar">
	<% if logged_in? %>
		<% if current_user.facebook_user? %>
			<div id="user-bar-greeting">You are logged in as <%= current_user.name %></div>
			<fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" size="thumb" ></fb:profile-pic>
			<div id="user-bar-action"><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></div>
		<% else %>
			<div id="user-bar-greeting">You are logged in as <%= current_user.login %></div>
			<p>why don't you connect with your facebook account</p>
			<%= fb_login_button('window.location = "/users/link_user_accounts";')%>
			<div id="user-bar-action"><%= link_to 'Logout', logout_path%></div>
		<% end %>
	<% else %>
		<div id="user-bar-greeting">Welcome guest</div>
		<div id="user-bar-action"><%= link_to 'Signup', signup_path%> or <%= link_to 'Login', login_path%></div>
	<% end %>
</div>


<ul id="navigation">
	<li><%= link_to 'tonight', :root %></li>
	<li><%= link_to 'locations', locations_path %></li>
	<li><%= link_to 'blog', posts_path %></li>
	<% if authorized? %>
		 <li><%= link_to 'admin', :controller => 'admin' %></li>
	<% end %>
</ul>
