// <b>reviews</b>&nbsp;(<%= location.reviews.count%>)
<% reviews.each do |r| %>
<div class="grid_7 left_align review_box <%= cycle("even","odd") %>">
	<div class="grid_2 left_align">
	    <%=link_to r.user.login, user_path(r.user) %><br/>
		<%= distance_of_time_in_words_to_now(r.created_at) + " ago"%>
	    <ul class="rating <%= (r.rating ? r.rating.en.numwords : "no") %>star"> 
			<li class="one">1</li> 
			<li class="two">2</li> 
			<li class="three">3</li> 
			<li class="four">4</li> 
			<li class="five">5</li> 
		</ul>
	</div>
	<div class="grid_5 right_align">
		<%= r.comment %>
  	</div>
</div>		
<% end %>

<% if location.reviews.count > reviews.count %>
<div class="grid_7"><%= link_to 'view more...', location_reviews_path(location) %></div>
<% end %> 


