<h1>Editing review</h1>

<% form_for([@location, @review]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', location_review_path(@location, @review) %> |
<%= link_to 'Back', location_reviews_path(@location) %>