<h1>Reviews for <%= @location.name %></h1>
<%= link_to 'Back to ' + @location.name , @location %>

<%= render :partial => 'list', :locals => {:location => @location, :reviews => @location.reviews}%>

<hr/>
<div class="grid_8 left_align review_box grey">
	// <b>write your own review</b>
	<% if logged_in?%>
		<%= render :partial => 'reviews/form_large', :locals => {:location => @location, :review => @location.reviews.new}%>
	<% else %>
		<br/>
		<%= link_to "Sign up", signup_path%> / <%= link_to "Log in",  login_path %> and you can create a comment for <%=@location.name %>
	<% end %>
</div>

<br />


<%= link_to 'Back to ' + @location.name , @location %>