<h1>Reviews for <%= @location.name %></h1>
<%= link_to 'Back to ' + @location.name , @location %>
<% @reviews.each do |r| %>
	<div class="grid_8 left_align review_box <%= cycle("even","odd") %>">
		<div class="grid_2 left_align ">
		    <%=link_to r.user.login, user_path(r.user) %><br/>
			<%= distance_of_time_in_words_to_now(r.created_at) + " ago"%>
		    <ul class="rating <%= (r.rating ? r.rating.en.numwords : "no") %>star"> 
				<li class="one">1</li> 
				<li class="two">2</li> 
				<li class="three">3</li> 
				<li class="four">4</li> 
				<li class="five">5</li> 
			</ul>
		</div>
		<div class="grid_6"  style="margin-right:0px;">
			<%=h r.comment %>
	  	</div>
	</div>
<% end %>
<hr/>
<div class="grid_8 left_align review_box grey">
	// <b>write your own review</b>
	<% if logged_in?%>
		<%= render :partial => 'reviews/form_large', :locals => {:location => @location, :review => @location.reviews.new}%>
	<% else %>
		<br/>
		<%= link_to "Sign up", signup_path%> / <%= link_to "Log in",  login_path %> and you can create a comment for <%=@location.name %>
	<% end %>
</div>

<br />


<%= link_to 'Back to ' + @location.name , @location %>