<div class="grid_8 left_align">

	<%= render :partial => 'map', :locals => {:data => @filename, :wide_map => true, :zoom_level => @zoom_level}%>
	
	<table>
	<% @locations.each do |location| %>
	  <tr class="<%= cycle("even","odd") %>">
	    <td><%= link_to location.name, location %></td>
		<td><%=h location.city + " " + location.state %></td>
		<td><%= image_tag('flags/' + location.country_code.downcase + '.png')%></td>
	    <td>
	    	<ul class="rating <%= (location.rating ? location.rating.en.numwords : "no") %>star"> 
				<li class="one">1</li> 
				<li class="two">2</li> 
				<li class="three">3</li> 
				<li class="four">4</li> 
				<li class="five">5</li> 
			</ul>
	    </td>
		<td><%= distance_of_time_in_words_to_now(location.created_at) + " ago"%></td>
	  </tr>
	<% end %>
</table>
<%= link_to 'New location', new_location_path %>
</div>

<div class="grid_2 right_align">
	<div class="ads">
		cities
		<ul class="links">
			<% @cities.each do |c| %>
				<li><a href="/locations/city/<%= c.city%>"><%= c.city %> (<%= c.count %>)</a></li>
			<% end %>
		</ul>
	</div>
</div>

