<div id="map_holder">
	

	
	<%= render :partial => 'map', :locals => {:data => "/locations.xml"}%>
	
</div>
<br/>

<table>
<% @locations.each do |location| %>
  <tr class="<%= cycle("even","odd") %>">
    <td><%= link_to location.name, location %></td>
	<td><%=h location.full_address %></td>
	<td><%= image_tag('flags/' + location.country_code.downcase + '.png')%></td>
    <td><%= link_to image_tag('icons/application_form_edit.png'), edit_location_path(location) %></td>
    <td><%= link_to image_tag( 'icons/delete.png'), location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<br />

<%= link_to 'New location', new_location_path %>