<div class="grid_3 left_align">
	<%= render :partial => 'map', :locals => {:data => "#{@location.id}.xml", :show_action => false, :zoom_level => @zoom_level}%>

	<div class="photos">
		<% @photos.each do |photo| %>
			<%= link_to image_tag( photo.url(:square), :width => 100), photo.url(:medium), :rel => 'lightbox-group', :title => photo.title %>
		<% end %>
		<p>neighborhood images via flickr</p>
	</div>
	
	<div class="grid_3 left_align">
		<%= render :partial => 'criterias/locations_criteria', :locals => {:location => @location} %>
	</div>
	
</div>

<div class="grid_5">
	<h1><%=h @location.name %></h1>
	<div class="grid_2 left_align">
		<%=h @location.street_address %><br/>
		<a href="/locations/city/<%= @location.city%>"><%=h @location.city %> <%=h @location.state %>&nbsp;<%= image_tag('flags/' + @location.country_code.downcase + '.png')%></a><br/>
		<% if authorized? || current_user == @location.user%>
			<%= link_to 'Edit Address', edit_location_path(@location) %>
		<% end %>
	</div>
	<div class="grid_2" style="margin-bottom:10px;">
		phone: <%=h @location.phone %><br/>
		website: <%=h @location.website %><br/>
		<% if authorized? || current_user == @location.user%>
			<%= link_to 'Edit Info', :action => 'profile', :id => @location.id %>
		<% end %>
	</div>
	<div class="grid_5 left_align">
		overall rating:
		<ul class="rating <%= (@location.rating ? @location.rating.en.numwords : "no") %>star"> 
			<li class="one">1</li> 
			<li class="two">2</li> 
			<li class="three">3</li> 
			<li class="four">4</li> 
			<li class="five">5</li> 
		</ul>
	</div>	
</div>

<div class="grid_2 right_align">
	<div class="ads">
		tools - coming soon!
		<ul id="navigation">
			<li>favorites</li>
			<li>i want to go here</li>
			<li>+ photos</li>
		</ul>
	</div>
</div>

<div class="grid_7 right_align top_pad">
	<%= render :partial => 'reviews/list_form', :locals => {:location => @location, :reviews => @location.recent_reviews}%>
</div>

<%# debug @location %>


